<ion-header class='font'>
  <ion-toolbar color='primary' id='title'>
  CUTE
  </ion-toolbar>
  <div id='title_des'><b>Chulalongkorn University The Eater</b></div>
</ion-header>

<ion-content class='font' color='secondary'>
  <div id='full_content'>
    <div id='content_div'>
      <div id='content_title'>NEWS AROUND CU</div>
      <ion-slides id='slide' pager="true" [options]="slideOpts">
        <ion-slide> 
          <ion-img src='../../../assets/agoda.jpg'></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src='../../../assets/cunex.jpg'></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src='../../../assets/plearn.jpg'></ion-img>
        </ion-slide>
      </ion-slides>    
    </div>    
  </div>
</ion-content>
