<ion-header>
  <ion-toolbar color='primary' class='title'>
    <div class='flex' id='cute' (click)='goHome()'>CUTE</div>
    <ion-icon name="home" slot='end' id='title_icon' (click)='goHome()'></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color='secondary' class='font'>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div class='r_color sect_title flex_center' id='more_info'>MORE INFO</div>
  <ion-item>
    <ion-label>Location</ion-label>
    <ion-select [(ngModel)]='department' (ionChange)='getShops(department)' placeholder='Select'>
      <ion-select-option value='Engineering'>Engineering</ion-select-option>
      <ion-select-option value='Communication Arts'>Communication Arts</ion-select-option>
      <ion-select-option value='Accounting'>Accounting</ion-select-option>
      <ion-select-option value='Arts'>Arts</ion-select-option>
      <ion-select-option value='Political Science'>Political Science</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item *ngIf='shopList$ | async as shopList'>
    <ion-label>Shop</ion-label>
    <ion-select [(ngModel)]='shopId' (ionChange)='getShopInfo(shopId)' placeholder='Select'>
      <ion-select-option *ngFor='let shop of shopList' value={{shop.id}}>{{shop['name']}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <div *ngIf='shopInfo$ | async as shop' id='content' class='flex_col'>
    <div class='flex'>
      <div class='r_color sect_title flex_center' id='shop_name'>{{shop['name']}}</div>
      <star-rating *ngIf='avgRating' [value]='avgRating' size='24px' readonly='true' checkedcolor='gold' uncheckedcolor='#c4c4c4'></star-rating> 
    </div>
    
    <ion-img src={{shop.img}} id='shop_image'></ion-img>
    
    <div class='description'> 
      <div class='flex margin_bot'>
        <div class='des_title'>Description</div>
        <div class='flex'>: {{shop.description}}</div>
      </div>
      <div class='flex margin_bot'>
        <div class='des_title'>Opening Time</div>
        <div class='flex'>: {{shop.time}}</div>
      </div>
      <div class='flex margin_bot'>
        <div class='des_title'>Contact</div>
        <div class='flex'>: {{shop.phone}}</div>
      </div> 
    </div>
    
    <div class='description' id='review_div'>
      <div *ngIf='shop.review.length==0'><b>No review available</b></div>
      <div *ngIf='shop.review'>
          <div id='flex_col' *ngFor='let review of shop.review'>
            <div class='flex'>
              <div id='review_name'><b>{{review.name}}</b></div>
              <star-rating id='review_star' value='{{review.rating}}' size='20px' readonly='true' checkedcolor='gold' uncheckedcolor='#c4c4c4'></star-rating> 
            </div>
            <div id='review_des' *ngIf='review.description'>{{review.description}}</div>
            <div id='review_des' *ngIf='!review.description'>No review written</div>
          </div>
      </div> 
    </div>
    
    <ion-button id='review_button' color='primary' (click)='goReview()'>REVIEW</ion-button>
  </div>
</ion-content>