<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>RandomShop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Location</ion-label>
    <ion-select [(ngModel)]='department' placeholder='Select'>
      <ion-select-option value='Engineering'>Engineering</ion-select-option>
      <ion-select-option value='Communication Arts'>Communication Arts</ion-select-option>
      <ion-select-option value='Accounting'>Accounting</ion-select-option>
      <ion-select-option value='Arts'>Arts</ion-select-option>
      <ion-select-option value='Political Science'>Political Science</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)='genShop(department)'>Generate</ion-button>
  <ion-card *ngIf='shopInfo$ | async as shp'>
    <h1>{{shp['name']}}</h1>
    <ion-img src={{shp.img}}></ion-img>
    <p>Description: {{shp.description}}</p>
  </ion-card>
</ion-content>
