<ion-header>
  <ion-toolbar color='primary' class='title'>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]='returnURL' text='INFO'></ion-back-button>
    </ion-buttons>
    <div class='flex' id='cute' (click)='goHome()'>CUTE</div>
    <ion-icon name="home" slot='end' id='title_icon' (click)='goHome()'></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content color='secondary' class='font'>
  <div class='r_color flex' id='review'>REVIEW</div>
  <ion-item>
    <ion-label>Location</ion-label>
    <ion-select [(ngModel)]='department' (ionChange)='getShops(department)' placeholder='Select'>
      <ion-select-option value='Engineering'>Engineering</ion-select-option>
      <ion-select-option value='Communication Arts'>Communication Arts</ion-select-option>
      <ion-select-option value='Accounting'>Accounting</ion-select-option>
      <ion-select-option value='Arts'>Arts</ion-select-option>
      <ion-select-option value='Political Science'>Political Science</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf='shopList$ | async as shopList'>
    <ion-label>Shop</ion-label>
    <ion-select [(ngModel)]='shopId' placeholder='Select'>
      <ion-select-option *ngFor='let shop of shopList' value={{shop.id}}>{{shop['name']}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div id='review_div' *ngIf='shopId'>
    <div id='name_rating'>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input maxlength='30' [(ngModel)]='user' placeholde='Input'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rating</ion-label>
        <star-rating [value]='rating' size='24px' (rate)='updateStar($event)' readonly='false' checkedcolor='gold' uncheckedcolor='#c4c4c4'></star-rating>
      </ion-item>      
    </div>
    <div class='white flex' id='description'>Description:</div>
    <ion-textarea class='white' id='review_des' [(ngModel)]='des' placeholde='Input' spellcheck="true" rows="5" autocapitalize="on"></ion-textarea>
    <ion-button class='r_color' id='submit_button' (click)='addReview()'>Submit</ion-button>  
  </div>  
</ion-content>
