<ion-header>
  <ion-toolbar color='primary' class='title'>
    <div class='flex' id='cute' (click)='goHome()'>CUTE</div>
    <ion-icon name="home" slot='end' id='title_icon' (click)='goHome()'></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color='secondary'>
  <div class='r_color flex' id='go'>GO!</div>
  <ion-item>
    <ion-label>Location</ion-label>
    <ion-select [(ngModel)]='department' placeholder='Select'>
      <ion-select-option value='Engineering'>Engineering</ion-select-option>
      <ion-select-option value='Communication Arts'>Communication Arts</ion-select-option>
      <ion-select-option value='Accounting'>Accounting</ion-select-option>
      <ion-select-option value='Arts'>Arts</ion-select-option>
      <ion-select-option value='Political Science'>Political Science</ion-select-option>
    </ion-select>
  </ion-item>
  <div class='button' id='go_button'>
    <ion-button class='shadow' (click)='genShop(department)'>Let's GO!</ion-button>
  </div>
  <div class='flex_center' *ngIf='shopInfo$ | async as shp'>
    <div id='gen_div'>
      <h1 class='r_color sect_title flex_center' id='shop_name'>{{shp['name']}}</h1>
      <ion-img class='shop_image' src={{shp.img}}></ion-img>
      <div id='card'>
        <p class="font">Description: {{shp.description}}</p>
      </div>
      <div class="button flex_center">
        <ion-button class='shadow button_limit' id='info_button' (click)='goInfo()'>More Info</ion-button>
        <ion-button class='shadow button_limit' (click)='goReview()'>REVIEW</ion-button>
      </div>
    </div>
  </div>
</ion-content>
